body{
	font-family: 'Montserrat', sans-serif;
	margin-left: 30px;
}

h1 input {
	border:none;
	font-family:'Montserrat', sans-serif;
	font-weight: bold;
	color: #000;
	font-size: 30px;
}

h1 input::placeholder{
	color: black;
}

h1 input:focus{
	color:grey;
}

.taskContainer{
	margin-left: 20px;
}

.task{
	width: 90%;
	border-right: none;
	border-left: none;
	border-top: none;
	height:40px;
	padding-left: 10px;
}

.subtask{
	background-color: #f2f2f2;
	border-right: none;
	border-left: none;
	border-top: none;
	width: 89%;
	height: 40px;
	margin-left: 20px;
	padding-left: 10px;
	clear: right;
}

.checkbox{
	width:17px;
	height: 17px;
}